/*su funcion es de que el body tenga 0 en las caracteristicias de pading y margin
con lo cual se utilizara el 100 % del espacio*/
*{
	padding: 0;
	margin: 0;
}

header{
	position: relative;
	width: 100%;
	height: 64px;
	background-color: #C3B7BC;
	opacity: 1;

}
.nav-link{
	margin-top: -3em;
	position: relative;
}

main{
	position: absolute;
	align-items: start;
	width: 100%;
	height: 561px;
	background-color: #D9D9D6;
	margin-top: 4em;
	margin-bottom: 0em;
}

footer{
	width: 100%;
	height: 150px;
	
}
.pagos{
	width: 100%;
	height: 116px;
	background-color: #2D2926;
}

.legal{
	
	width: 100%;
	height: 50px;
	background-color: #53565A;
}


a{
	text-decoration: none;/*para que el texto o link no aparezca subrrallado*/
	color: black;
}

.Menu ul{
	list-style: none; 
	position: relative;
	float: left;
	margin-top: -51px;
	padding: 0;
	padding-left: 499px;
}

.Menu ul li{
	position: relative;
	float: left; /*su funcion: hace que los li se coloquen uno a lado del otro comenzando de izquierda a derecha*/ 
	padding: 2em;

}

.Menu ul li ul{
	display: none;
	position: absolute;
}

.Menu ul li:hover > ul{
	display: block;
	padding-left: 0px;
}



main{
	clear: both;
	position: relative;
	height: 561px;
	background-color: #D9D9D6;
	opacity: 1;
}


.contenedor{
	position: relative;
	width: 18%;
	height: 62%;
	float: left;
	display: inline-block;
	background-color: #C8C9C7;
	margin: 2em 0 3em 4.5em ; /*top, bottom right left*/
	float: 2em;

}

.contenedor h3{
	text-align: center;
}
main img {
	max-width: 100%;
	max-height: 80%;
}

.estilo_btn{
	background-color: rgb(144, 42, 2);
	margin-left: 5em;
	margin-top: 1em;
}

.suscripcion p{
	align-content: center;
}
.logo{
width: 10%;
}

.suscripcion{
	width: 70%;
	height: 17%;
	margin-top: -48;
	}